<section>
  <div class="wrapper">
    <!-- Sidebar  -->

    <div class="profile">
      <h3><i class="fa-solid fa-user"></i>Venkatesh</h3>
    </div>
    <hr class="horizontalLine" />
    <h3 class="menu">MENU</h3>
    <nav id="sidebar">
      <ul class="list">
        <li>
          <button><i class="fa-solid fa-dice-four"></i>Overview</button>
        </li>
        <li>
          <button><i class="fa-solid fa-list"></i>Transactions</button>
        </li>
        <li>
          <button><i class="fa-solid fa-chart-simple"></i>Analytics</button>
        </li>
        <li>
          <button><i class="fa-solid fa-credit-card"></i>Cards</button>
        </li>
      </ul>
      <hr class="horizontalLine" />
      <h3 class="genenral">GENENRAL</h3>
      <ul class="list">
        <li>
          <button><i class="fa-solid fa-gear"></i>Settings</button>
        </li>
        <li>
          <button><i class="fa-solid fa-phone"></i>Help/Support</button>
        </li>
        <li>
          <button><i class="fa-solid fa-moon"></i>Dark Mode</button>
        </li>
      </ul>
      <hr class="horizontalLine" />

      <div class="payment">
        <button class="paymentButton">
          <i
            class="fa-solid fa-circle-plus"
            style="
              font-size: 46px;
              color: black;
              border-radius: 2px solid black;
            "
          ></i>
          <p style="padding-top: 10px; color: black; font-weight: 600">
            New Payment
          </p>
        </button>
      </div>
    </nav>
  </div>
</section>
