<div class="topnav">
  <div class="topNotification">
    <p class="message">
      Stay updated on our latest feature by receiving notifications from us!
    </p>
    <button class="learn">Learn</button>
  </div>
  <a class="bankName"><i class="fa-solid fa-diamond icon"></i>Hexa Bank</a>
  <a class="overview" href="#home">Overview</a>
  <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
  <input class="input" placeholder="search anything here.." type="text" />
  <div class="topnav-right">
    <button><i class="fa-regular fa-message"></i></button>
    <button><i class="fa-regular fa-bell"></i></button>
  </div>
</div>
