<div class="container">
  <div style="display: flex; justify-content: space-between">
    <p>My Cards: <span class="one">1/2 </span></p>
    <div class="sideButtons">
      <button><</button>
      <button>></button>
    </div>
  </div>

  <div class="card">
    <div class="top">
      <i class="fa-solid fa-memory" style="padding: 10px"></i>
      <i class="fa-solid fa-wifi" style="padding: 10px"></i>
    </div>
    <div class="bottom">
      <h4 class="cardNumber"><b>**** 5678</b></h4>
      <div class="cardDetails">
        <p class="cardName">Venkatesh Peddinti</p>
        <p class="cardName">05/24</p>
      </div>
    </div>
  </div>
  <div class="shadow"></div>
  <div class="newCardButton">
    <button class="newCard">
      <span style="margin-right: 5px"
        ><i class="fa-solid fa-circle-plus"></i
      ></span>
      Add New Card
    </button>
  </div>
  <hr class="horizontalLine" />
  <div class="actions">Quick Actions</div>
  <div>
    <div class="actionButtons">
      <button>
        <i class="fa-solid fa-circle-plus actionIcon"></i
        ><span class="actionName">Top Up</span>
      </button>
      <div class="vl"></div>
      <button>
        <i class="fa-regular fa-paper-plane actionIcon"></i
        ><span class="actionName">Transer</span>
      </button>
      <div class="vl"></div>
      <button>
        <i class="fa-solid fa-money-bill-transfer actionIcon"></i
        ><span class="actionName">Withdrawal</span>
      </button>
    </div>
  </div>
  <hr class="horizontalLine" style="margin-top: 20px" />
  <div class="savingPlan">
    <h2 class="savingPlan">Saving Plan</h2>
    <span class="plusIcon" style="margin-right: 5px"
      ><i class="fa-solid fa-circle-plus"></i
    ></span>
  </div>
  <div>
    <div class="watchDiv">
      <div class="watchField">
        <button class="watchIcon">
          <i class="fa-regular fa-clock"></i>
        </button>
        <div class="watchDetails">
          <p class="watchName">New Watch</p>
          <p class="watchTarget">Target $2,000</p>
        </div>
        <div class="moreIcon">
          <i class="fa-solid fa-ellipsis"></i>
        </div>
      </div>
      <div class="progressBar">
        <div class="progressBarDetails">
          <p>Total:$2000</p>
          <p style="color: #979b9e">50%</p>
        </div>
        <div class="matBar">
          <mat-progress-bar
            class="progressBar"
            mode="determinate"
            value="50"
          ></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="playStation">
      <div class="watchDiv">
        <div class="watchField">
          <button class="watchIcon">
            <i class="fa-regular fa-circle-play"></i>
          </button>
          <div class="watchDetails">
            <p class="watchName">Play Station 5</p>
            <p class="watchTarget">Target $2,000</p>
          </div>
          <div class="moreIcon">
            <i class="fa-solid fa-ellipsis"></i>
          </div>
        </div>
        <div class="progressBar">
          <div class="progressBarDetails">
            <p>Total:$2000</p>
            <p style="color: #979b9e">50%</p>
          </div>
          <div class="matBar">
            <mat-progress-bar
              class="progressBar"
              mode="determinate"
              value="50"
            ></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
