.container {
  margin: 10px;
  padding: 10px;
}

input {
  background-color: #ffff;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  margin: 0px;
  padding: 7px 15px;
}

.buttons {
  margin: 10px;
}
h2 {
  margin-top: 15px;
}
button {
  margin: 5px;
  padding: 8px 10px;
  border: 2px solid #f7f7f7;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-weight: 600;
  cursor: pointer;
  background-color: #ffff;
}
span {
  padding-right: 8px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody {
  max-height: 230px;
  overflow-y: auto;
  display: block;
}
